# Python caches
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.env/

# uv artifacts
.uv/

# Project data/config
config.json
data/

# Editor/OS cruft
.DS_Store
Thumbs.db

bgg_mm.egg-info/

.pytest_cache/
